@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;

}
a {text-decoration: none;}
ul {list-style-type: none;}
.basicHR {
  background-color:#71A200;
  height: 1px;
  border: 0px;
}

/* 컨텐츠 영역 : 내용에 따라 높이 달라질 수 있음 */
.categoryMenu {
 margin:0 auto;
 margin-top: 5%;
 }
 
.categoryFont {
 width: 1280px;
 height: 150px;
 line-height : 2em;
 padding-top: 80px;
 padding-left: 90px;
 background-color: #f2f5f2;
 color: #5a5555;
 border-bottom-left-radius: 12px;
 border-bottom-right-radius: 12px;
}
.categoryFont h1 {
 letter-spacing : 0.2em;
}
.categoryFont p {
  font-size: 18px; 
  text-align: left;
  padding: 12px;
}
.categoryMenu {
width: 100%;
text-align: start;
}
.popular {border-spacing: 40px; margin-bottom: 20px;}
.popular .imgP {
 text-align: center;
 font-size: 15px;
 color: #222222;
}
.popular .imgP:hover {color: #71A200;}
.popular td {
padding: 0;
margin: 2px;
font-size: 20px;
position: relative;
overflow: hidden;
}
.popular img  {
  z-index: 5; /*안전장치*/
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: #7e7b7b2f solid 0.1px;
  padding: 15px;
  } 

.popular .caption {
  z-index: 10; 
  width: 270px;
  height: 270px;
  border-radius: 50%;
  padding-top: 100px;
  position: absolute; 
  background: rgba(27, 27, 27, 0.651); /*반투명한 갈색배경*/
  color: white;
  text-align: center;
  font-size: 17px;
  transition: all 0.8s ease-in-out; /*나타날때 부드럽게 트렌지션 추가*/
  opacity: 0; /*투명도 아예 화면에 안보이게 */
}
.popular td:hover .caption {
  transform: translateY(-295px); /*설명글이 위로 100px 이동하게*/
  opacity: 1; /*투명도 아예 화면에 안보이게 해논게 화면에 보이게*/  
  }
/* 컨텐츠 영역 끝*/
