@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
}
a {text-decoration: none;}
ul {list-style-type: none;}

.grayHR {
 height: 1px;
 border: 0px;
 background-color: #e4e6e4;
}

/* 푸터 */
 #contentBox {
  margin-top: 15%;
 }
footer {
  color: rgb(107, 107, 107); 
 }
  
#category {
 width:800px;	
 display: flex;
 margin-top: 10px;
 margin-bottom:10px;
}

#infoBox {
 display: flex;
}
#info {
 width:250px;
 text-align: left;
 margin-left:10px;
 font-weight: 2em;
 margin-right: 700px;
}

.menu {
 height: 30px;
 text-decoration: none;
 font-size:13px;
 padding:3px;
 float: right;
 margin-right: 50px;
 margin-left:10px;
 background: white;
 color: rgb(107, 107, 107);
}
.menu:hover {color: #71A200}

#SNS {	
 padding-left: 70px;
 float: right;
}

#SNS img {
 width:60px; height:60px;	
 float: right;
 position: relative;
 padding: 10px;
 margin-right: 50px;
}
#company {
 text-align: center;
 font-size: 13px;
 position: relative;
 margin-left:100px;
 margin-right:100px;
 margin-top: 50px;
}