@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
  
}
a {text-decoration: none;}
ul {list-style-type: none;}

.grayHR {
 height: 1px;
 border: 0px;
 background-color: #e4e6e4; 
}
/**********************/
/* 순서                  
/* 01. 탑 메뉴  
/* 02. 컬러 필터 검색 
/* 03. 로고 폰트
/* 04. 검색창 (일반)
/* 05. 카테고리영역      */


/* 01.  s: 탑 메뉴 */
header a span {
  font-size: 20px;
}
header {
  width: 1280px;
	position: fixed;
	background-color: white;
	z-index: 20;
	box-shadow: 0px 4px 4px -4px gray;
	margin-top: -26px;
}
#topMenuBox {
  width: 1280px;
  height: 37px;
  background-color : #EDB73E;
  margin-right: 15px;
  padding-top: 10px; 
}
#topMenuBox table {
  border-spacing: 15px;
}
#topMenuBox  a {
 padding-left: 17px;
 padding-right: 17px;
 padding-bottom: 6px;
 padding-top: 6px;
 color: white;
 font-size: 13px;
 font-weight: 700;
 text-shadow: 2px 2px 2px 2px gray;
}

.logoIntop {
 float:left;
 width: 200px; height: 30px;
 padding-left: 10px;
 padding-top: 1px;
}
/* e: 탑 메뉴 */




#centerBox {
  height: 60px;
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
}


/* 03. 로고 */
 .logoBox { 
 height: 30px;
 padding-left: 44%;
}

/* 05. s: 카테고리 */
#categoryBox {height: 48px; box-shadow: 0 0px 0px -5px #b4afafab;}
#categoryTable {border-spacing: 12px; margin-left: 70px;}
#categoryTable td { padding-right: 80px; }
#categoryTable td a {font-size: 14px; font-weight: bold;}
#categoryBox a {color: #2E2E2E;}
#categoryBox a:hover{color: black; border-bottom: 2px solid #0c0b3684;}



