@charset "UTF-8";

* {
  margin: 0;
  box-sizing: border-box;
}
#page {
	
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
}
a {text-decoration: none;}
ul {list-style-type: none;}


/* 컨텐츠 영역 : 내용에 따라 높이 달라질 수 있음 */
#contentBox {
  margin-top: 15%;
  height:500px;
  text-align: center;
}
fieldset {
  margin-right:38px;
  height: 500px;
  border: 0px;
}
fieldset h1 {
	color: rgb(107, 107, 107);
}

#loginUser {
  padding-top:25px;	
  width: 420px; height:280px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  margin: 0 auto;
  color:rgb(107, 107, 107);
  text-align: left; padding-left:45px;
}
#user_id {
  padding-left: 12px;
  width: 250px;
  height: 40px;
  color: rgb(107, 107, 107);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
}
#user_password {
  padding-left: 12px;
  width: 250px;
  height: 40px;
  color: rgb(107, 107, 107);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
}

#loginBtn {
  height: 44px; width: 140px;
  border: none;
  border-radius: 10px;
  text-align: center;
  background-color: #0c0b36;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 100px;
}

#loginBtn:hover {background-color: #0c0b36;}
#loginBtn:active {
  background-color: #dfdfdf;
  border: 2px solid #0c0b36;
  color: #2b2828;
}
#loginBtn a:hover {color: #0c0b36;}
.saveCheck {
  margin-left: 80px;
}
.findLink{ 
  width: 250px;	
  margin-left:70px;
  margin-top:15px;
  color: rgb(107, 107, 107); 
  font-size: 13px;
}
.findLink a {
  color: rgb(107, 107, 107); 
  font-size: 13px;
}
.findLink a:hover {
  color: #0c0b36;	
}
/* 컨텐츠 영역 끝*/