@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
}
a {text-decoration: none;}
ul {list-style-type: none;}
.basicHR {
  background-color:#0c0b36;
  height: 1px;
  border: 0px;
}
 #contentBox {
  margin-top: -70px;
  margin-bottom: -70px;
 }
 
/* 컬러 필터*/

#colorGarden {
  background-color: #d7f1dc;
  width: 1280px; 
  height:420px;
  margin-top: -180px;
  margin-bottom: 30px;
  padding-top: 80px;
  padding-left: 20px;
}
.color_Box {
  margin-right: 180px;
  margin-top: 126px;
}
.colortable {
 height: 20px;
 margin:auto;
 float: left;
}
.red {width: 0; height: 0; border-bottom: 170px solid red; border-left: 170px solid transparent; }
.orange { width: 0; height: 0; border-bottom: 170px solid orange; border-right: 170px solid transparent; }
.yellow  { width: 0; height: 0; border-bottom: 170px solid yellow; border-left: 170px solid transparent; }
.green { width: 0; height: 0; border-bottom: 170px solid green; border-right: 170px solid transparent;}
.blue {  width: 0; height: 0; border-bottom: 170px solid blue; border-left: 170px solid transparent;}
.white { width: 0; height: 0; border-bottom: 170px solid rgb(207, 207, 207); border-right: 170px solid transparent; }

/* s: 카카오맵 Api */
#apiMap {display: flex; height: 490px; margin-bottom: 100px; margin-left: 10px;}
#map { margin-left:15px; width:900px; height:400px;}
.mapText{margin-left: 20px; margin-top: 10px;}
/* e: 카카오맵 Api */


/*s: 카테고리 */
.categoryProd.Box {
  padding-left: 60px;
  padding-bottom: 30px;
}
.imageBox table {
  border-spacing: 28px;
  margin-bottom: 60px;
}
.imageBox .imgBox {
  width: 150px; height:150px;
  margin-left: 36px;
  border: #b5b8b681 solid 1px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px -1px gray;
  padding: 0;
  font-size: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.imageBox .imgBox:hover {
  box-shadow: 0 5px 11px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
  border: #0c0b3684 solid 1px;
}
.imageBox img {width: 150px; height: 150px; border-radius: 50%;}
.imageBox .imgP {
  color: rgba(53, 49, 49, 0.76);
 text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
 }

 /*e: 카테고리 */


/*s: 간편 테스트 */
 #simpleOrder {
  height: 500px;
  padding-bottom: 20px;
  padding-top:30px;
 }
 .simpleOrderText p {
  font-size: 14px;
 }

 #simpleOrderBox {
  height:400px;
  width: 1280px;
  display: flex;
}
  .simpleOrderImg {
    width : 320px; height: 360px;
  }
  .simpleOrderImg img {
    width : 320px; height: 360px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
 .simpleOrderTo{
  border-top: 1px solid #00000027;
  border-bottom: 1px solid #00000027;
  border-right: 1px solid #00000013;
  border-left: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width : 480px;
  height: 360px;
  margin-right: 60px;
  padding-top: 30px;
 }
 .simpleOrderTo legend {
  padding-left : 20px;
  padding-bottom: 30px;
  color:#4F504E;
 }
 .simpleOrderTo table {
  border-spacing: 10px;
 }
 
 #imgBox {
  width: 360px; height: 360px;
  border-right: 1px solid #8d8d8d7e;
 }
 #myImg {
  width: 360px; height: 360px;
 }
 /*e: 간편 테스트 */ 


 
 

/*s: 배송 관련 배너 */
#banner {
  width: 1280px; height: 490px;
  margin-bottom:70px;
}
#banner img {
  width: 1280px; height: 450px;

}

/*리뷰 롤링*/
.rolling_box {
  width: 350px;
  height: 60px;
  background-color: #0c0b36;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  color: #ccc;
  margin-top: 50px;
  margin-left: 30px;
  padding-top: 25px;
  }  

 .rolling_box ul {
  width: 330px;
  height: 40px;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-top: -10px;
  margin-left: 30px;
  }

 .rolling_box ul li {
  width: 300px;
  height: 40px;
  transition: .5s;
  position:absolute;
  transition: top .75s;
  top: 100%;
  z-index: 1;
  color: #fff;
  background-color: #0c0b36;
  }

 .card_sliding{
  top: 0 !important;
  z-index: 100 !important;
 } 

 .card_sliding_after{
  top: -100% !important;
  z-index: 10 !important;
 }

 .rolling_box ul li p {
  font-size: 14px;
  line-height: 20px;
  font-weight: lighter;
 }

 .before_slide {
  transform: translateY(100%);
 }

 .after_slide {
  transform: translateY(0);
  }
  
/* 컨텐츠 영역 */
/*s: 배송 관련 배너 */


/* 컨텐츠 영역 끝*/
