@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
}
a {text-decoration: none;}
ul {list-style-type: none;}

.grayHR {
 height: 1px;
 border: 0px;
 background-color: #e4e6e4;
}
/**********************/
/* 순서                  
/* 01. 탑 메뉴  
/* 02. 컬러 필터 검색 
/* 03. 로고 폰트
/* 04. 검색창 (일반)
/* 05. 카테고리영역      */


/* 01.  s: 탑 메뉴 */
header a span {
  font-size: 20px;
}
#topMenuBox {
  width: 1280px;
  height: 40px;
  background-color: #71A200;
  margin-top: -40px;
  z-index:20;
  margin-right: 15px;
  padding-top: 10px; 
  position: fixed;
  box-shadow: 0px 2px 2px -2px gray;
}
#topMenuBox table {
  border-spacing: 15px;
}
#topMenuBox  a {
 padding-left: 17px;
 padding-right: 17px;
 padding-bottom: 6px;
 padding-top: 6px;
 color: #ffffff;
 font-size: 15px;
 font-weight: 10px;
 text-shadow: 2px 2px 2px 2px gray;
}
#topMenuBox  a:hover {
 color: #c7df8f;
 text-shadow: 2px 2px 2px 2px gray;
}
.logoIntop {
 float:left;
 width: 200px; height: 30px;
 font-size: 15px;
 font-weight: 10px;
 color: #ffffff;
 padding-left: 10px;
 padding-top: 1px;
}


/* e: 탑 메뉴 */




#centerBox {
  height: 60px;
  background-color:white;
  margin-top: 15px;
  display: flex;
}

/* 02. 컬러 필터 검색*/
.color_Box {
  width:300px;	
  height: 40px;
  margin-right: 180px;
}
.colortable {
 border-spacing: 10px;
 height: 20px;
 margin:auto;
 position: relative;
 float: left;
}
#colorS {
 width: 17px; height: 17px;
 border-radius: 50%;
 border: 1px solid #4e6d07;
}
#colorT {
 font-size: 14px;
 width: 70px;
 color: #4e6d07;
}
.red {background-color: red;}
.orange {background-color: orangered;}
.yellow {background-color: yellow;}
.green {background-color: green;}
.blue {background-color: blue;}
.white {background-color: white;}


/* 03. 로고 */
 .logoBox { 
 width: 300px;
 height: 40px;
 padding-top: 5px;
 padding-left: 80px;
 margin-right: 200px;
}
.logoBox #logo {
  font-size: 20px;
  font-weight:bold; 
  color: #2e4103;
  }

/* 04. 검색창 */
#search_box {
 width: 300px;
 height: 40px;
 float: right;
 margin-right: -10px;
}
#search {
 margin-top: 8px;
 margin-left: 54px;
}
#search_box input {
 width: 200px;
 height: 24px;
 border: 1px solid #71A200;
 outline: none;
 font-size: 14px;
 color: #4e6d07;
 border-radius: 20px;
 padding-left: 30px;
 padding-top: 2px;
}
#search_box button {	
 width: 26px;
 height: 26px;
 margin: 0;
 padding: 0;
 border: none;
 background: #71A200;
 color: white;
 font-size: 15px;
 text-align: center;
 border-radius: 50%;
}
#search_box button:hover {
background-color: #2e4103;
}


/* 05. s: 카테고리 */
#categoryBox {
  height: 45px; 
  box-shadow: 0 0px 0px -5px;
 }
#categoryTable {border-spacing: 12px; margin-left: 170px;}
#categoryTable td { padding-right: 80px; }
#categoryTable td a {
  font-size: 15px;
 font-weight: 70px;
}
#categoryBox a {
  color: rgb(107, 107, 107);
}
#categoryBox a:hover{color: #71A200;}



