@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
}
a {text-decoration: none;}
ul {list-style-type: none;}

/* 컨텐츠 영역 : 내용에 따라 높이 달라질 수 있음 */
#contentBox {
  color: rgb(56, 56, 56);
  text-align: center;
  margin-top: -130px;
}
fieldset {
	padding-top:50px;
  margin: 80px 0px;
  border: 0px;
}
fieldset h1 {
  color: rgb(107, 107, 107);
}
fieldset p {
  margin-bottom: 20px;
}
fieldset p img {width: 16px; height:16px;}
fieldset div {
  width: 700px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  border-radius: 2px;
  padding-left: 80px;
  padding-top:30px;
  padding-bottom:30px;
  margin: 0 auto;
  text-align: left;
}

#register {
  padding-left:15px;
  margin: 10px 0;
 
  border: 1px solid #ddd;
  border-radius: 5px;
}
th {
  font-size: 16px;
  font-weight:100;
  color: rgb(107, 107, 107);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
th img {width: 16px; height:16px; }
#contentBox input {
  width: 300px;
  height: 35px;
  margin-left: 20px;
}

button {
  border: none;
  text-align: center;
  background-color: #71A200;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  width: 200px;
  height: 40px;
  font-size: 17px;
  cursor: pointer;
}
button:hover {
  background-color:#648d03;
}
button:active {
  background-color: #dfdfdf;
  border: 2px solid #71A200;
  color: #2b2828;
}
/* 컨텐츠 영역 끝*/