<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.yanzi.demo.DAO.MemberDao">
<!-- 아이디 중복 확인 보이지않는 일련번호를 생성하는 것-->
<select id="getId" parameterType="com.yanzi.demo.DTO.MemberDto" resultType="_int">
 SELECT COUNT(*) 
  FROM USERS
  WHERE USER_ID=#{user_id}
</select>
<!-- 회원 가입 -->
<insert id="addMember" parameterType="com.yanzi.demo.DTO.MemberDto">
 INSERT INTO USERS (USER_ID
				,USER_NAME
				,USER_PASSWORD
				,USER_EMAIL
				,USER_PHONE
				,USER_ADDRESS)
	VALUES(#{user_id},#{user_name},#{user_password},#{user_email},#{user_phone},#{user_address})			
</insert>

<!-- 로그인 -->
<select id="login" parameterType="com.yanzi.demo.DTO.MemberDto" resultType="com.yanzi.demo.DTO.MemberDto">
 SELECT USER_ID,USER_NAME,USER_PASSWORD,USER_EMAIL,USER_PHONE,USER_ADDRESS
  FROM USERS
  WHERE USER_ID=#{user_id} AND USER_PASSWORD=#{user_password}
</select>

</mapper>                 